
body{
    height: 920px;
    width:  99%;
    border: 0px;
}
#header{
    width: 65%;
    height: 15%;
    background: white;
    margin: 0 auto;
}

#title{
    padding-top:70px;
    width:250px;
    font-size: 24px;
    margin: 0 auto;
}
#menu{
    height: 10%;
    background: white;
}

#content{
    height: 65%;
    background: white;
}

#footer{
    height: 10%;
    font-size: 11px;
    text-align: center;
    font-family: Consolas Courier "Myriad Pro";
}
#buttons{
    width: 50%;
    margin: 0 auto;
}

#hsbcLogoDiv{
    width: 400px;
    height: 100px;
    margin: 0 auto;
}

#j_idt16{
    width: 1000px !important;
    margin: 0 auto;
}
.ui-menu-list{
    margin-left: 100px;
}